<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modify</title>
  <link rel="stylesheet" type="text/css" href="../styles/modify.css">
</head>
<body>
  <div class="container">
    <h1>
      Modify Note
    </h1>
    <%if(locals.note) {%>
        <form id="editForm" method="post" action="/modify/edit/<%=note.id%>">
          <input type="text" name="isbn" value="<%=note.isbn%>"><br>
          <input type="text" name="title" value="<%=note.title%>"><br>
          <input type="text" name="dateread" value="<%=note.dateread%>"><br>
          <textarea name="description" rows="5"><%=note.description%></textarea><br>
          <button class="full-width" type="submit">Submit</button>
        </form>
    <%} else {%>
        <form id="newNoteForm" method="post" action="/modify/new">
          <input type="text" name="isbn" placeholder="ISBN" required><br>
          <input type="text" name="title" placeholder="Title" required><br>
          <input type="text" name="dateread" placeholder="Date Read" required><br>
          <textarea name="description" rows="5" placeholder="Description" required></textarea><br>
          <button class="full-width" type="submit">Submit</button>
        </form>
    <%}%>
  </div>
</body>
</html>