<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Note</title>
  <link rel="stylesheet" type="text/css" href="styles/layout.css">
</head>
<body>
  <%if(locals.note) {%>
    <h1><%= note.title %></h1>
    <small>Date Read: <%= note.dateread %> ISBN: <%= note.isbn %></small><br>
    <img width="125" height="187" src="https://covers.openlibrary.org/b/isbn/<%=note.isbn%>-M.jpg" />
    <p><%= note.description %></p>
  <%}%>
</body>
</html>