<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Note</title>
  <link rel="stylesheet" type="text/css" href="styles/layout.css">
</head>
<body>
  <div class="container">
    <a class="note-title link" href="/">
      Book Notes
    </a> <br>
    <%if(locals.note) {%>
      <div class="note-view">
        <img class="note-img" src="https://covers.openlibrary.org/b/isbn/<%=note.isbn%>-M.jpg"/>
        <a class="note-title"><%= note.title %></a>
        <small>ISBN: <%= note.isbn %></small>
        <small>Date Read: <%= note.dateread %></small>
        <small>How Strongly I Recommend It: <%= note.recommend %>/10</small>
        <p class="note-text"><%= note.description %></p>  
      </div>
      <h2 style="font-size: 2em;">My Notes</h2>
      <div>
        <p class="note"><%= note.note %></p>
      </div>
    <%}%>
  </div>
  
</body>
</html>