<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Note</title>
  <link rel="stylesheet" type="text/css" href="styles/layout.css">
</head>
<body>
  <div class="container">
    <%if(locals.note) {%>
      <div>
        <img class="note-img" width="125" height="187" src="https://covers.openlibrary.org/b/isbn/<%=note.isbn%>-M.jpg"/>
        <a style="text-decoration: underline; color: black; font-size:xx-large;"><%= note.title %></a>
        <small>Date Read: <%= note.dateread %> ISBN: <%= note.isbn %></small>
        <p><%= note.description %></p>  
      </div>
      
    <%}%>
  </div>
  
</body>
</html>